/*header部分*/
.c1 i {
    font-size: 1.3em;
}
.c1 {
    width: 130px;
}
.h_search {
    margin: 0.5% 8% 0 5%;
    float: left;
}
.h_login，
.logined {
    float: left;
    width: 200px;
}


.h_login .add_a {
    margin-top: 5px;
    line-height: 32px;
    margin-right: 30px;
    display: inline-block;
    color: #999;
}
.h_login .add_a:hover {
    color: #4CCFC1;
}
.logined img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logined .setting {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.logined span {
    max-width: 150px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    margin-bottom: 10px;
    margin-left: 12px;
    color: #4CCFC1;
}


.header-release {
    display: inline-block;
    float: left;
    margin-right: 30px;
    line-height: 50px;
    background: #4CCFC1;
    color: #fff;
    font-weight: bold;
    padding: 0 20px;
    border-radius: 25px;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.header-release:hover {
    color: rgb(24, 141, 118);
}


/*发布商品页*/
.release-option {
    font-family: 'Microsoft yahei', sans-serif;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    color: rgba(85, 81, 81, 0.84);
    padding: 8px;
    display: block;
    width: 96.3333%;
    outline: none;
    text-transform: capitalize;
}


/*我发布的商品记录*/
.mygoods-delete {
    margin-left: 10px;
    cursor: pointer;
}
.mine-grid-4:hover h4 .mygoods-delete {
    color: #fff;
    font-size: 16px;
}
.mine-grid-4 h4 .mygoods-delete {
    font-size: 16px;
}

.mygoods-delete:hover {
    background: rgb(24, 141, 118);
}

.select-release {
    display: inline-block;
    margin-left: 50px;
    line-height: 30px;
    background: #4CCFC1;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.select-release:hover {
    color: rgb(24, 141, 118);
}


/*个人中心*/
.mine-tabs .mine-tabs {
    width: 378px;
}
.mine-tabs input#tab-2 {
    left: 378px;
}

.mine-tabs input#tab-3 {
    left: 756px;
}
.personal-center-a {
    color: #fff;
}

.personal-center-release-a {
    float: right;
}

.mine-tabs .mine-tab-content .mine-title {
    color: #40C4B2;
    font-size: 16px;
    padding: 10px 20px;
    border-bottom: 1px solid #40C4B2;
}
.mine-tabs .mine-account {
    margin: 20px 30px;
}

.mine-tabs .mine-account span {
    margin-left: 20px;
}

.mine-tabs .mine-account .mine-info-input {
    position: relative;
    height: 30px;
    padding: 0 12px;
    left: 0;
    top: 0;
    opacity: 1;
    display: none;
}

.mine-info-edit {
    float: right;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.mine-info-edit:hover {
    color: rgb(24, 141, 118);
}

.mine-info-save {
    display: none;
}

.pagination-box {

}

.pagination {
    width: auto;
    margin-left: 33px;
}

.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #3CC395;
    text-align: center;
    margin-right: 5px;
    font-size: 14px;
}

.pagination li.active,
.pagination li:hover {
    background-color: #3CC395;
}

.pagination li.active span,
.pagination li:hover span,
.pagination li:hover a {
    color: #fff;
}

.pagination li a,
.pagination li span {
    color: #3CC395;
}
